{% extends '@AcMarcheIcar/layout.html.twig' %}
{% block body %}

    <div class="card">
        <h3 class="card-header">Liste des rues {{ localiteSelected }}</h3>
        <div class="card-body">
            <ul class="list-group list-group-horizontal m-3">
                {% for localite in localites %}
                    <li class="list-group-item{% if localite.nom == localiteSelected %} border border-success{% endif %}">
                        <a href="{{ path('icar_rues', {'localite':localite.nom}) }}">{{ localite.nom }}</a>
                    </li>
                {% endfor %}
            </ul>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Localité(s)</th>
                </tr>
                </thead>
                {% for rue in rues.rues %}
                    <tr>
                        <td>
                            {{ rue.nom }}
                        </td>
                        <td>
                            {% for localite in rue.localites %}
                                <span class="badge text-bg-primary">{{ localite }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="card-footer">
            {% include '@AcMarcheIcar/_urlexecuted.html.twig' %}
        </div>
    </div>

{% endblock %}